<div id="weather_response">
	<i class='fa fa-refresh fa-spin'></i> Location and weather is syncing
</div>
<h2 id="msg"></h1>
<script type="text/javascript">
	$(document).ready(function(){
		$( "#current_weather" ).click();
	});
</script>

